{% extends "seller/master.html" %}
{% load static %}
{% block header %}
{% endblock %}

{% block content %}

<section>
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #f2f2f2;
        }
    
        .container {
          max-width: 400px;
          margin: 0 auto;
          padding: 20px;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        h1 {
          text-align: center;
        }
    
        .form-group {
          margin-bottom: 15px;
        }
    
        label {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
        }
    
        input[type="text"],
        input[type="email"],
        input[type="password"] {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
    
        input[type="submit"] {
          width: 100%;
          padding: 10px;
          background-color: #4CAF50;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
    
        input[type="submit"]:hover {
          background-color: #45a049;
        }
      </style>
    </head>
    <body>
      <div class="container" style="margin-top: 8%;">
        <h1> Add Product</h1>
        {{ message }}
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}


          <div class="form-group">
            <label for="name">Product Name:</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="Description">Description:</label>
            <input type="text" id="Description" name="Description" required>
          </div>
          <div class="form-group">
            <label for="">Product stock:</label>
            <input type="text" id="" name="p_stock" required>
          </div>
          <div class="form-group">
            <label for="password">Product code :</label>
            <input type="text" id="password" name="p_code" required>
          </div>
          
          
          <div class="form-group">
            <label for="password">Price:</label>
            <input type="text" id="password" name="price" required>
          </div>
          <div class="form-group">
            <label for="password">product image:</label>
            <input type="file" id="image" name="image" required>
          </div>
          <input type="submit" value="add product">
        </form>
      </div>
    </body>
    </html>
    
    
</section>

{% endblock %}